
%h2.pagetitle Stephanie C. Weber
.address
  321 Hoyt Laboratory
  %br
  William Street
  %br
  Princeton, NJ 08544
.phone
  (609) 258-5731
%a.email{href: 'mailto:scweber@princeton.edu'}
  scweber@princeton.edu

%h3 Education

.ed-section
  .ed-entry
    Ph.D. Biochemistry, Stanford University
  .ed-date
    2011

.ed-section
  .ed-entry
    B.S. Biology, B.S. Chemistry,
    = succeed ',' do
      %span.latin<> summa cum laude
    Duke University
  .ed-date
    2006

%h3 Research Experience

.ed-section
  .ed-entry
    Postdoctoral fellow with Cliff Brangwynne, Princeton University
  .ed-date
    2011-present
.ed-description-section
  .ed-description
    An intracellular phase transition couples nucleolar size with cell size in early
    %span.latin C. elegans
    embryos

.ed-section
  .ed-entry
    Graduate student with Julie Theriot, Stanford University
  .ed-date
    2007-2011
.ed-description-section
  .ed-description
    Macromolecular motion
    = succeed ':' do
      %span.latin<> in vivo
    anomalous diffusion through an "active" viscoelastic medium

.ed-section
  .ed-entry
    Undergraduate student with Arno Greenleaf, Duke University
  .ed-date
    2005-2006
.ed-description-section
  .ed-description
    FF domains and the binding of PCAPs to the carboxy terminal domain of RNA polymerase II

.ed-section
  .ed-entry
    Summer student with Kerry O'Banion, University of Rochester
  .ed-date
    2004
.ed-description-section
  .ed-description
    The use of RNA interference to elucidate the role of mPGES-1 in PGE2 biosynthesis

.ed-section
  .ed-entry
    Undergraduate student with Steve Haase, Duke University
  .ed-date
    2003-2005
.ed-description-section
  .ed-description
    The effect of CLB6 on population doubling time in
    %span.latin Saccharomyces cerevisiae

%h3 Honors, Awards and Fellowships

.ed-section
  .ed-entry Damon Runyon Postdoctoral Fellowship
  .ed-date 2012-present

.ed-section
  .ed-entry Jane Coffin Childs Memorial Fund Postdoctoral Fellowship (declined)
  .ed-date 2012

.ed-section
  .ed-entry Life Sciences Research Foundation Postdoctoral Fellowship (declined)
  .ed-date 2012

.ed-section
  .ed-entry Bioengineering Outstanding Teaching Assistant Award
  .ed-date 2011

.ed-section
  .ed-entry Harold M. Weintraub Graduate Student Award
  .ed-date 2011
.ed-description-section
  .ed-description
    National award recognizing outstanding achievement in graduate studies in the biological sciences

.ed-section
  .ed-entry NSF Graduate Research Fellowship
  .ed-date 2008-2011

.ed-section
  .ed-entry Graduation with Distinction in Biology, Chemistry
  .ed-date 2006

.ed-section
  .ed-entry Faculty Scholar Award
  .ed-date 2005
.ed-description-section
  .ed-description
    Highest honor bestowed upon a Duke undergraduate recognizing intellectual leadership and scholarly accomplishment

.ed-section
  .ed-entry Phi Beta Kappa
  .ed-date 2005

.ed-section
  .ed-entry Deans' Summer Research Fellowship
  .ed-date 2005

.ed-section
  .ed-entry GEBS/NSF REU Summer Scholars Program
  .ed-date 2004

.ed-section
  .ed-entry Howard Hughes Research Fellows Program
  .ed-date 2003

%h3 Publications

- pubmed_base_url = "http://www.ncbi.nlm.nih.gov/pubmed/"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., and Brangwynne, C. P.
    = surround '(', ')' do
      %span.date 2015
    = succeed ',' do
      %span.title Inverse size scaling of the nucleolus by a concentration-dependent phase transition
    = succeed ',' do
      %span.journal Current Biology
    = succeed '.' do
      %span.other In press
    = surround '(', ')' do
      - pmid = 25702583
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., and Brangwynne, C. P.
    = surround '(', ')' do
      %span.date 2012
    = succeed ',' do
      %span.title Getting RNA and protein in phase
    = succeed ',' do
      %span.journal Cell
    = succeed ',' do
      %span.volume 149
    = succeed '.' do
      %span.other 1188
    = surround '(', ')' do
      - pmid = 22682242
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., Thompson, M. A., Moerner, W. E., Spakowitz, A. J. and Theriot, J. A.
    = surround '(', ')' do
      %span.date 2012
    = succeed ',' do
      %span.title Analytical tools to distinguish the effects of localization error, confinement and medium elasticity on the velocity autocorrelation function
    = succeed ',' do
      %span.journal Biophysical Journal
    = succeed ',' do
      %span.volume 102
    = succeed '.' do
      %span.other 2443
    = surround '(', ')' do
      - pmid = 22713559
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., Spakowitz, A. J. and Theriot, J. A.
    = surround '(', ')' do
      %span.date 2012
    = succeed ',' do
      %span.title<>
        Nonthermal ATP-dependent fluctuations contribute to the
        %span.latin in vivo 
        motion of chromosomal loci
    = succeed ',' do
      %span.journal Proceedings of the National Academy of Sciences
    = succeed ',' do
      %span.volume 109
    = succeed '.' do
      %span.other 7338
    = surround '(', ')' do
      - pmid = 22517744
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
    = surround '(', ')' do
      -pmid = 22562796
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "commentary"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., Theriot, J. A. and Spakowitz, A. J.
    = surround '(', ')' do
      %span.date 2010
    = succeed ',' do
      %span.title  Subdiffusive motion of a polymer composed of subdiffusive monomers
    = succeed ',' do
      %span.journal Physical Review E
    = succeed ',' do
      %span.volume 82
    = succeed '.' do
      %span.other 011913
    = surround '(', ')' do
      - pmid = 20866654
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
.pub-section
  .pub-entry
    %span.authors Weber, S. C. and Theriot, J. A.
    = surround '(', ')' do
      %span.date 2010
    = succeed ',' do
      %span.title Mu gets in the loop
    = succeed ',' do
      %span.journal Molecular Cell
    = succeed ',' do
      %span.volume 39
    = succeed '.' do
      %span.other 1
    = surround '(', ')' do
      - pmid = 20603069
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
.pub-section
  .pub-entry
    %span.authors Weber, S. C., Spakowitz, A. J. and Theriot, J. A.
    = surround '(', ')' do
      %span.date 2010
    = succeed ',' do
      %span.title Bacterial chromosomal loci move subdiffusively through a viscoelastic cytoplasm
    = succeed ',' do
      %span.journal Physical Review Letters
    = succeed ',' do
      %span.volume 104
    = succeed '.' do
      %span.other 238102
    = surround '(', ')' do
      - pmid = 20867274
      %a.pmid{href: "#{pubmed_base_url}#{pmid}"}= "pmid: #{pmid}"
    = surround '(', ')' do
      %a.pmid{href: "http://physics.aps.org/synopsis-for/10.1103/PhysRevLett.104.238102"}= "commentary"

%h3 Invited Talks

.pub-section
  .pub-entry
    %span.authors Weber, S. C. and Brangwynne, C. P.
    = surround '(', ')' do
      %span.date 2014
    = succeed ',' do
      %span.title<>
        Nucleolar assembly and growth are governed by a concentration-dependent phase transition
    = succeed '.' do
      %span.other American Society for Cell Biology, Annual Meeting
.pub-section
  .pub-entry
    %span.authors Weber, S. C. and Brangwynne, C. P.
    = surround '(', ')' do
      %span.date 2014
    = succeed ',' do
      %span.title<>
        Inverse size scaling of the nucleolus by a concentration-dependent phase transition
    = succeed '.' do
      %span.other Biophysical Society, Disordered Motifs and Domains in Cell Control
.pub-section
  .pub-entry
    %span.authors Weber, S. C. and Brangwynne, C. P.
    = surround '(', ')' do
      %span.date 2014
    = succeed ',' do
      %span.title<>
        Nucleolar size and assembly is governed by a concentration-dependent phase transition
    = succeed '.' do
      %span.other Gordon Research Conference, Post-Transcriptional Gene Regulation
.pub-section
  .pub-entry
    %span.authors Weber, S. C., Spakowitz, A. J. and Theriot, J. A
    = surround '(', ')' do
      %span.date 2010
    = succeed ',' do
      %span.title<>
        ATP-dependent fluctuations drive macromolecular motion
        %span.latin in vivo
    = succeed '.' do
      %span.other American Society for Cell Biology, Annual Meeting

%h3 Teaching/Mentoring Experience
.ed-section
  .ed-entry Pedagogical training through the Teaching Transcript Program, The McGraw Center, Princeton University
  .ed-date 2013-present
.ed-section
  .ed-entry Guest Lecturer, CBE433/533 Mechanics and Dynamics of Soft Living Matter, Princeton University
  .ed-date Autumn 2012, 2014
.ed-section
  .ed-entry Mentoring high school, undergraduate, senior thesis and graduate students, Princeton University
  .ed-date 2011-present
.ed-section
  .ed-entry Teaching Assistant, BIOE41 Physical Biology of Macromolecules, Stanford University
  .ed-date Autumn 2010
.ed-section
  .ed-entry Teaching Assistant, Physiology Course, Marine Biological Laboratory, Woods Hole, MA
  .ed-date Summer 2008
.ed-section
  .ed-entry Teaching Assistant, BIO109 The Human Genome and Disease, Stanford University
  .ed-date Winter, Spring 2008
  
%h3 Service
.ed-section
  .ed-entry
    Princeton Postdoc Council
  .ed-date
    2013-present
.ed-description-section
  .ed-description
    Serve as liaison between postdocs and administration; Organize professional development and social events for the postdoctoral community at Princeton
.ed-section
  .ed-entry
    Mentoring Program
  .ed-date
    2013-present
.ed-description-section
  .ed-description
    Coordinate mentoring relationships between postdocs and graduate students, in collaboration with Graduate Women	in Science and Engineering (GWISE)
.ed-section
  .ed-entry
    Outreach
  .ed-date
    2012-present
.ed-description-section
  .ed-description
    Design and deliver lectures and lab activities for middle school students at Stuart Country Day School in Princeton, NJ	and Kilmer Elementary School in Trenton, NJ

%h3 References
.ed-section
  .ed-entry
    Clifford P. Brangwynne, Ph.D.
.ed-description-section
  .ed-description
    Assistant Professor, Princeton University
.ed-section
  .ed-entry
    Julie A. Theriot, Ph.D.
.ed-description-section
  .ed-description
    Professor, Stanford University
.ed-section
  .ed-entry
    Andrew J. Spakowitz, Ph.D.
.ed-description-section
  .ed-description
    Associate Professor, Stanford University
.ed-section
  .ed-entry
    Mikko Haataja, Ph.D.
.ed-description-section
  .ed-description
    Professor, Princeton University
    
%hr
%a{href: 'Weber_CV.pdf'} PDF version

